# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.idea/
__pycache__/
/static/*
!/static/vendor/
!/static/js/
!/static/css/
!/static/favicon.ico

# Vim
*~

# Sqlite
*.db
db.ini

# My configurations:
deploy_key_rsa
