{% extends "base.html" %}
{% block link %}
  <link href="css/swiper.min.css" rel="stylesheet">
  <link href="css/aos.css" rel="stylesheet">
{% endblock %}
{% block style %}
  <style type="text/css">
  .swiper-container{
  --swiper-navigation-color: pink;/* 单独设置按钮颜色 */
  }
  body { background-image: url(/img/xjn.jpg);}
section { background-color: rgba(255, 255, 255, 0.8); }
input { background-color: rgba(255, 255, 255, 0.6)!important; }
textarea { background-color: rgba(255, 255, 255, 0.6)!important; }
  </style>
{% endblock %}
{% block main %}
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">陈 <span class="text-primary">周煜</span></h1>
        <div class="subheading mb-5">
          <p>广州航海学院 电商181 电话：18922723129&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
          <p>&nbsp;<a href="mailto:717662837@qq.com">717662837@qq.com</a></p>
        </div>
        <p class="mb-5">我是广州航海学院电商181的陈周煜，现在正在学习中...</p>
        <p class="mb-5">Here is ChenZY studying in GuangZhou Hanghai University who is now studying...</p>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section id="oynn">
      <div class="container">
        <h3 style="color: pink;font-size: 4rem" align="center">Fan of OuYanNana</h3>
        <p style="color: gray;font-size: 3rem"align="center"><i class="fa fa-heart" style="color: "></i>   Love~</p>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="padding: 5rem 0rem;margin: 0px;" align="center" v-for="(img,index) in oynnn" :key="index">
              <img height="500rem" :src="imgurl+img" :alt="img"/>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">经历 experiences</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">计算机初学者</h3>
            <div class="subheading mb-3"> 学习中...</div>
            <p>一直在努力学习中，成为一名高手！</p>
          </div>
          <div class="resume-date text-md-right"><span class="text-primary">2019年3月份 - 现在</span></div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">未来...</h3>
            <div class="subheading mb-3"> 可期...</div>
            <p>未知的未来？</p>
          </div>
          <div class="resume-date text-md-right"><font color="#bd5d38">2019年4月中旬-未来</font><br>
          </div>
        </div>
        
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">学历 Educations</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">广州的各种小学初中和高中</h3>
            <div class="subheading mb-3">小屁孩</div>
            <div>学习：义务教育</div>
            <p>成绩：还行</p>
          </div>
          <div class="resume-date text-md-right"><span class="text-primary">2006年9月-2018年6月</span></div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">广州航海学院</h3>
            <div class="subheading mb-3">不是小屁孩了（？）</div>
            <p>成绩：也还行吧（？）</p>
          </div>
          <div class="resume-date text-md-right"><span class="text-primary">2018年9月-至今</span></div>
        </div>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">技能 Skills</h2>
        <div class="subheading mb-3">各种工具 &amp; </div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-jquery"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
          </li>
        </ul>
        <div class="subheading mb-3"> 技能偏好</div>
        <ul class="fa-ul mb-0">
          <li> <em class="fa-li fa fa-check"></em>人生苦短&nbsp; &nbsp;何不Python？</li>
          <li> <em class="fa-li fa fa-check"></em>偏好WEB服务（？）</li>
          <li> <em class="fa-li fa fa-check"></em>迷茫中...</li>
        </ul>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">兴趣 Interests</h2>
        <p>喜欢计算机，羽毛球，篮球，乒乓球，看书，当咸鱼（？）。</p>
        <p class="mb-0">特别喜欢那些有逻辑的书，夹杂幽默最好，目前在看《银河帝国》和《冰与火之歌》。</p>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
      <div class="my-auto">
        <h2 class="mb-5">获奖 Awards &amp; certifications </h2>
        <ul class="fa-ul mb-0">
          <li> <em class="fa-li fa fa-trophy text-warning"></em> 广州航海学院最佳咸鱼奖</li>
          <li> </li>
          <li><em class="fa-li fa fa-trophy text-warning"></em> 无限期待获奖中...</li>
          
        </ul>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="message">
      <div class="d-flex flex-column" v-for="data in lyb">
        <h5>~{data[1]}~</h5> <time>~{data[3]}~</time>
        <p style="display:inline;word-wrap:break-word;word-break:break-all;">~{data[2]}~</p>
      </div>
      <h1>留言</h1><br>
      <form class="" method="post" action="/ajax/lyb" id="lyb">
        <div class="form-group">
          <label for="guest-name" class="form-inline">我叫<input id="guest-name" name="guest_name" class="form-control" style="margin-left: 10px" v-model="name"></label>
          <span v-if="error_name" class="errorspan" name="errorname" style="color:red;font-size:1rem">名字长度必须大于两个字符！ <i class="fa fa-times" style="color:red"></i></span>
        </div>
        <div class="form-group">
          <label class="">我想说：<textarea class="form-control" rows="5" cols="100" maxlength="1024" placeholder="最多输入1024个字符" style="margin-top: 5px" name="guest_message" v-model="message"></textarea>
            <span v-if="error_message" class="errorspan" name="errormessage" style="color:red;font-size:1rem">留言内容不能为空！ <i class="fa fa-times" style="color:red"></i></span>
          </div>
          <div class="form-group">
            <input type="button" class="form-control" value="提交" @click="submitForm">
          </div>
        </form>
      </section>
    </div>
  {% endblock %}
  {% block script %}
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/swiper/swiper.min.js"></script>
    <script src="js/index.js"></script>
  {% endblock %}